# 1st Long Exam 09-10-25

# Jessa Dinopol ID:23788938

# Question 1

In [1]:
name = input ("Enter Name:")
print("Hello", name)

Enter Name: Jessa

Hello Jessa

# Question 2

In [2]:
n = int (input("Enter a positive integer: "))
s = n * (n + 1)
print("The sum form 1 to ", n, "is", s)

Enter a positive integer:  22

The sum form 1 to  22 is 506

# Question 3

# Question 4

# Question 5

In [4]:
lengthOne = float(input("Enter lengthOne:"))
lengthTwo = float(input("Enter lengthTwo:"))
def hypotenuse(){
    hypotenuse = (lengthOne x lengthOne + lengthTwo x lengthTwo) .5
    return hypotenuse
main
print("The lengths of the shorter sides of a right triangle are ", lengthOne + " " + lengthTwo)
print(" The hypotenuse of triangle is ",hypotenuse(lengthOne,lengthTwo))

SyntaxError: expected ':' (1404800591.py, line 3)