# Lesson 5

# Review Question 1

In [1]:
#1. Create a tuple literal namedcardinal_numbers that holds the strings "FIRST", "SECOND" and "THIRD", in that order.

cardinal_numbers = ("FIRST", "SECOND", "THIRD")
print(cardinal_numbers)

('FIRST', 'SECOND', 'THIRD')

In [2]:
#2. Using index notation and print(), Display the string at index 1 in cardinal_numbers.

cardinal_numbers = ("FIRST", "SECOND", "THIRD")
print(cardinal_numbers[1])

SECOND

In [3]:
#3. Unpack the values in cardinal_number into three new strings named POSITION 1,POSITION 2 and POSITION 3 in a single line of code, then print each  value on a separate line.

cardinal_numbers = ("FIRST", "SECOND", "THIRD")
POSITION1, POSITION2, POSITION3 = cardinal_numbers
print(POSITION1)
print(POSITION2)
print(POSITION3)

FIRST
SECOND
THIRD

In [4]:
#4. Create a tuple called my_name that contains the letters of your name by using tuple() and a string literal.

my_name = tuple("JESSA")
print(my_name)

('J', 'E', 'S', 'S', 'A')

In [5]:
#5. Check whether or not the character "X" is in my_name using the in keyword.

my_name = tuple("JESSA")  
print("X" in my_name)

False

In [6]:
#6. Create a new tuple containing all but the first letter in my_name using slicing notation.

my_name = tuple("JESSA")          
all_but_first = my_name[1:]      
print(all_but_first)

('E', 'S', 'S', 'A')

# REVIEW QUESTION 2

In [7]:
#1. Create a list named food with two elements "Rice" and "Beans".

food = ["Rice", "Beans"]
print(food)

['Rice', 'Beans']

In [8]:
#2. Append the string "Broccoli" to food using append().

food = ["Rice", "Beans"]
food.append("Broccoli")
print(food)

['Rice', 'Beans', 'Broccoli']

In [9]:
#3. add the string "Bread" and "Pizza" to "Food" using .extend().

food = ["Rice", "Beans"]
food.extend(["Broccoli", "Bread", "Pizza"])
print(food)

['Rice', 'Beans', 'Broccoli', 'Bread', 'Pizza']

In [10]:
#4. Print the first two items in the food list using print() and slicing notation.

food = ["Rice", "Beans", "Broccoli", "Bread", "Pizza"]
print(food[:2])

['Rice', 'Beans']

In [11]:
#5. Print the last item in food using print() and index notation.

food = ["Rice", "Beans", "Broccoli", "Bread", "Pizza"]
print(food[-1])

Pizza

In [12]:
#6. Create a list called breakfast from the string "Eggs, Fruit, Orange Juice" using the string .split() method.

breakfast = "Eggs, Fruit, Orange Juice".split(", ")
print(breakfast)

['Eggs', 'Fruit', 'Orange Juice']

In [13]:
#7. Verify that breakfast has three items using len().

breakfast = "Eggs, Fruit, Orange Juice".split(", ")
print(len(breakfast))

3

In [14]:
#8. Create a new list called lengths using a list comprehension that contains the lengths of each string in the breakfast list.

breakfast = "Eggs, Fruit, Orange Juice".split(", ")
lengths = [ len(item) for item in breakfast ]
print(lengths)

[4, 5, 12]

# Review Question 3

In [15]:
#1. Create a tuple data with two values. the first value should be the tuple(1,2) and the second value should be the tuple(3,4).

data = ((1, 2), (3, 4))
print(data)

((1, 2), (3, 4))

In [16]:
#2. Write a for loop that loops over data and prints the sum of each nested tuple. the uotput should look like this:
# Row 1 sum: 3
# Row 2 sum:7

data = ((1, 2), (3, 4))

row = 1
for tup in data:
    s = sum(tup)
    print(f"Row {row} sum: {s}")
    row += 1

Row 1 sum: 3
Row 2 sum: 7

In [19]:
#4. Create a copy of the number list using the (:) slicing notation.
# Example number list
numbers = [1, 4, 2, 3, 5]

# Copy using slicing
numbers_copy = numbers[:]

print("Original list:", numbers)
print("Copied list:", numbers_copy)

Original list: [1, 4, 2, 3, 5]
Copied list: [1, 4, 2, 3, 5]

In [20]:
#5. Sort the numbers list in numerical order using the .sort() method

numbers.sort()
print(numbers)

[1, 2, 3, 4, 5]

# CHALLENGE: LIST OF LISTS

In [1]:
# Write a program that contains the following lists of lists:
 
universities = [
                ['California Institute of Technology', 2175, 37704],
                ['Harvard', 19627, 39849],
                ['Massachusetts Institute of Technology', 10566, 40732],
                ['Princeton', 7802, 37000],
                ['Rice', 5879, 35551],
                ['Stanford', 19535, 40569],
                ['Yale', 11701, 40500]
]

print(universities)

[['California Institute of Technology', 2175, 37704], ['Harvard', 19627, 39849], ['Massachusetts Institute of Technology', 10566, 40732], ['Princeton', 7802, 37000], ['Rice', 5879, 35551], ['Stanford', 19535, 40569], ['Yale', 11701, 40500]]

# CHALLENGE: WAX POETIC

In [3]:
# Create five lists for different word types:
# nouns:["FOSSIL", "HORSE", "AARDVARK", "JUDGE", "CHEF", "MANGO", "EXTROVERT", "GORILLA"]

NOUNS = ["FOSSIL", "HORSE", "AARDVARK", "JUDGE", "CHEF", "MANGO","EXTROVERT", "GORILLA"]
VERBS = ["KICKS", "JINGLES", "BOUNCES", "SLURPS", "MEOWS", "EXPLODES", "CURDLES"]
ADJECTIVES = ["FURRY", "BALDING", "INCREDULOUS", "FRAGRANT", "EXUBERANT", "GLISTENING"]
PREPOSITIONS = ["AGAINST", "AFTER", "INTO", "BENEATH", "UPON", "FOR", "IN", "LIKE", "OVER", "WITHIN"]
ADVERBS = ["CURIOUSLY", "FURIOUSLY", "SENSUOUSLY" "EXTRAVAGANTLY", "TANTALIZINLY"]

print(NOUNS)
print(VERBS)
print(ADJECTIVES)
print(PREPOSITIONS)
print(ADVERBS)

['FOSSIL', 'HORSE', 'AARDVARK', 'JUDGE', 'CHEF', 'MANGO', 'EXTROVERT', 'GORILLA']
['KICKS', 'JINGLES', 'BOUNCES', 'SLURPS', 'MEOWS', 'EXPLODES', 'CURDLES']
['FURRY', 'BALDING', 'INCREDULOUS', 'FRAGRANT', 'EXUBERANT', 'GLISTENING']
['AGAINST', 'AFTER', 'INTO', 'BENEATH', 'UPON', 'FOR', 'IN', 'LIKE', 'OVER', 'WITHIN']
['CURIOUSLY', 'FURIOUSLY', 'SENSUOUSLYEXTRAVAGANTLY', 'TANTALIZINLY']

# REVIEW EXERCISES

In [5]:
#1. Create an empty dictionary named captains.
captains = {}

In [6]:
#2. Using the square bracket notation, enter the following data into the dictionary, one item at a time:
# 'Enterprise': 'Picard'
# 'Voyager': 'Janeway'
# 'Defiant': 'Sisko'

captains = {}
captains["Enterprise"] = "Picard"
captains["Voyager"] = "Janeway"
captains["Defiant"] = "Sisko"

for n in captains:
        print(f"'{n}' : '{captains[n]}'")

'Enterprise' : 'Picard'
'Voyager' : 'Janeway'
'Defiant' : 'Sisko'

In [12]:
#3. Write two if statements that check if "Enterprise" and "Discovery" exist as keys in the dictionary. Set their values to "Unknown" if the key does not exist.

if not ("Enterprise" in captains): captains["Enterprise"] = "Unknown"
if not ("Discovery" in captains): captains["Discovery"] = "Unknown"

for n in captains:
        print(f"'{n}' : '{captains[n]}'")

'Enterprise' : 'Picard'
'Voyager' : 'Janeway'
'Defiant' : 'Sisko'
'Discovery' : 'Unknwon'

In [14]:
#4. Write a for loop to display the ship and captain names contained in the dictionary. For example, the output should look something like this:
# The Enterprise is captained by Picard.

captains = {
    "Enterprise": "Picard",
    "Voyager": "Janeway",
    "Defiant": "Sisko",
    "Discovery": "Unknown"
}

for ship, captain in captains.items():
    print(f"The {ship} is captained by {captain}.")

The Enterprise is captained by Picard.
The Voyager is captained by Janeway.
The Defiant is captained by Sisko.
The Discovery is captained by Unknown.

# REVIEW EXERCISES

In [21]:
#5. Delete "Discovery" from the dictionary.

captains = {
    "Enterprise": "Picard",
    "Discovery": "Unknown",
    "Voyager": "Janeway",
    "Defiant": "Sisko"
}

del captains["Discovery"]
for n in captains: print(f"'{n}' : '{captains[n]}'")

'Enterprise' : 'Picard'
'Voyager' : 'Janeway'
'Defiant' : 'Sisko'

In [22]:
#6. BONUS: Make the same dictionary by using dict[] and passing in the initial values when you first create the dictionary.

captains = dict(
    Enterprise="Picard",
    Discovery="Unknown",
    Voyager="Janeway",
    Defiant="Sisko"
)

for n in captains:
    print(f"'{n}' : '{captains[n]}'")

'Enterprise' : 'Picard'
'Discovery' : 'Unknown'
'Voyager' : 'Janeway'
'Defiant' : 'Sisko'