# Review Question 1

In [10]:
#1.Create a string and print its length using the len() frunction.
my_string = "Hello, Python!"
print(len(my_string))

14

In [11]:
#2.Create two strings, concatenate them, and print the resulting string.
string1 = "Hello"
string2 = "World"
result = string1 + " " + string2
print(result)

Hello World

In [12]:
#3.Create two strings and use concatenation to add a space inbetween them. Then print the result.
string3 = "Python"
string4 = "Rocks"
concatenated_with_space = string3 + " " + string4
print("Concatenated with space:", concatenated_with_space)

Concatenated with space: Python Rocks

In [13]:
#4.Print the string "fox" by using slice notation on the string "The quick brown fox jumped over the lazy dog. #1234567890!" to specify the correct range of characters.
original_string = "The quick brown fox jumped over the lazy dog. #1234567890!"
fox_slice = original_string[16:19]  # Start at index 16, end at index 19 (not inclusive)
print("Extracted word using slice:", fox_slice)

Extracted word using slice: fox

# Review Question 2

In [16]:
#1. Write a script that converts the following strings to lowercase: "Animals", "Badger", "Honey Bee", "Honey Badger".Print each lowercase string on a separate line.
strings = ["Animals", "Badger", "Honey Bee", "Honeybadger"]
for s in strings:
    print(s.lower())

animals
badger
honey bee
honeybadger

In [17]:
#2. Repeat Exercise 1, but convert each string to uppercase instead of lowercase.
for s in strings:
    print(s.upper())

ANIMALS
BADGER
HONEY BEE
HONEYBADGER

In [18]:
#3. Write a script that removes whitespace from the following strings:
string1 = " Filet Mignon"
string2 = "Brisket "

print(string1.strip()) 
print(string2.strip())

Filet Mignon
Brisket

In [19]:
#4.Write a script that prints out the result of .startswith("be") on each of the following strings:
string1 = "Becomes"
string2 = "becomes"

print(string1.startswith("be"))  
print(string2.startswith("be"))

False
True

In [20]:
#5.Using the same strings from Exercise 4, write a script that uses string methods to alter each string so that .startswith("be") returns True for all of them.
string1 = "Becomes"
string2 = "becomes"

print(string1.lower().startswith("be"))
print(string2.lower().startswith("be"))

True
True

# Review Question 3

In [22]:
#1.Write a script that takes input from the user and displays that input back.
user_input = input("Enter something: ")
print("You entered:", user_input)

Enter something:  jessa

You entered: jessa

In [24]:
#2.Write a script that takes input from the user and displays the input in lowercase.
user_input = input("Enter something: ")
print("In lowercase:", user_input.lower())

Enter something:  HELLO, jessa

In lowercase: hello, jessa

In [25]:
#3.Write a script that takes input from the user and displays the number of characters inputted.
user_input = input("Enter something: ")
print("Number of characters entered:", len(user_input))

Enter something:  hello jessa

Number of characters entered: 11

# Review Question 4

In [30]:
#1.Write a script named first_letter.py that first prompts the user for input by using the string "Tell me your name:" The script should then determine the first letter of the user’s input, convert that letter to upper-case, and display it back.
name = input("Tell me your name: ")
if name:  # check if the input is not empty
    first_letter = name[0].upper()
    print("The First letter of your name is:", first_letter)
else:
    print("You didn't enter a name.")

Tell me your name:  jasse

The First letter of your name is: J

# Review Question 5

In [32]:
#1.Create a string containing an integer, then convert that string into an actual integer object using int(). Test that your new object is a number by multiplying it by another number and displaying the result.
int_str = "42"
int_num = int(int_str)  # convert string to integer
result = int_num * 5
print("Result of multiplying:", result)

Result of multiplying: 210

In [33]:
#2.Repeat the previous exercise, but use a floating-point number and float().
float_str = "3.14"
float_num = float(float_str)  # convert string to float
result = float_num * 2
print("Result of multiplying:", result)

Result of multiplying: 6.28

In [34]:
#3.Create a string object and an integer object, then display them side by side with a single print statement by using the str() function.
my_str = "Age:"
my_int = 30
print(my_str + " " + str(my_int))  # convert int to string for concatenation

Age: 30

In [35]:
#4.Write a script that gets two numbers from the user using the input() function twice, multiplies the numbers together, and displays the result.
num1 = input("Enter First number: ")
num2 = input("Enter Second number: ")

# Convert inputs to float for flexibility (works for integers and decimals)
num1_float = float(num1)
num2_float = float(num2)

product = num1_float * num2_float

print("The product is:", product)

Enter first number:  5
Enter second number:  6

The product is: 30.0

# Review Question 6

In [36]:
#1.In one line of code, display the result of trying to .find() the substring "a" in the string "AAA".
print("AAA".find("a"))

-1

In [37]:
#2.Replace every occurrence of the character "s" with "y” in the string "Somebody said something to Samantha.".
print("Somebody said something to Samantha.".replace("s", "y"))

Somebody yaid yomething to Samantha.

In [38]:
#3.Write and test a script that accepts user input using the input() function and displays the result of trying to .find() a particular letter in that input.
user_input = input("Enter a string: ")
letter = input("Enter a letter to find: ")
position = user_input.find(letter)
print(f"Position of '{letter}' in the string is:", position)

Enter a string:  jasse
Enter a letter to find:  s

Position of 's' in the string is: 2

# Review Question 7

In [39]:
#Write a script called translate.py that asks the user for some input with the following prompt: Enter some text:. Then use the .replace() method to convert the text entered by the user into “leetspeak” by making the following changes to lower-case letters:
#• The letter a becomes 4
#• The letter b becomes 8
#• The letter e becomes 3
#• The letter l becomes 1
#• The letter o becomes 0
#• The letter s becomes 5
#• The letter t becomes 7
#Your program should then display the resulting string as output. Below is a sample run of the program: Enter some text: I like to eat eggs and spam. I 1ik3 70 347 3gg5 4nd 5p4m.

text = input("Enter some text: ")

# Convert text to lowercase to apply replacements only to lowercase letters
text = text.lower()

# Replace letters according to leetspeak rules
text = text.replace('a', '4')
text = text.replace('b', '8')
text = text.replace('e', '3')
text = text.replace('l', '1')
text = text.replace('o', '0')
text = text.replace('s', '5')
text = text.replace('t', '7')

print(text)

Enter some text:  I like you so much

i 1ik3 y0u 50 much