# Lecture 3

# Review Question 1

In [1]:
#1. Write a function called cube[] with one number parameter and returns the value of the number raised to the third power. Test the function by displaying the result of calling your cube[] function on a few different numbers.

def cube(num):
    """Returns the cube of the given number."""
    return num ** 3

# Testing the function with different numbers
print(f"The cube of 2 is {cube(2)}.")
print(f"The cube of 3 is {cube(3)}.")
print(f"The cube of 4 is {cube(4)}.")

The cube of 2 is 8.
The cube of 3 is 27.
The cube of 4 is 64.

In [1]:
#2. Write a function called greet[] that takes one string parameter called name and displays the text "Hello <name>!", where <name> is replaced with the value of the name parameter.

def greet(name):
    print(f"Hello {name}, ")

greet("Jessa")

Hello Jessa,

# Challenge: Convert Temperatures

In [7]:
#1&2. Write a function name convert_cel_to_far[] which takes one float parameter representing degress Celsius and returns a float representing the same temperature in degrees Farenheit.

def convert_cel_to_far(celsius):
    
    #Converts a temperature from Celsius to Fahrenheit.
    #Formula: (°C × 9/5) + 32
    
    return (celsius * 9 / 5) + 32
f_input1 = 72
c_output1 = convert_far_to_cel(f_input1)
print(f"Enter a temperature in degrees F: {f_input1} degrees F = {c_output1:.2f} degrees C")

def convert_far_to_cel(fahrenheit):

    #Converts a temperature from Fahrenheit to Celsius.
    #Formula: (°F − 32) × 5/9
   
    return (fahrenheit - 32) * 5 / 9
c_input2 = 37.0
f_output2 = convert_cel_to_far(c_input2)
print(f"Enter a temperature in degrees C: {c_input2} degrees C = {f_output2:.2f} degrees F")

Enter a temperature in degrees F: 72 degrees F = 22.22 degrees C
Enter a temperature in degrees C: 37.0 degrees C = 98.60 degrees F

# Review Question 2

In [8]:
#1. 1.Write a for loop that prints out the integers 2 through 10, each on a new line, by using the range() function.
for num in range(2, 11):
    print(num)

2
3
4
5
6
7
8
9
10

In [9]:
#2. 2.Use a while loop that prints out the integers 2 through 10 (Hint: You’ll need to create a new integer first.)
num = 2
while num <= 10:
    print(num)
    num += 1

2
3
4
5
6
7
8
9
10

In [10]:
#3. 3.Write a function called doubles() that takes one number as its input and doubles that number. Then use the doubles() function in a loop to double the number 2 three times, displaying each result on a separate line. Here is some sample output:
def doubles(num):
    return num * 2

num = 2
for _ in range(3):
    num = doubles(num)
    print(num)

4
8
16